<!--
 * @Date: 2023-09-05 13:56:58
 * @LastEditors: admin@54xavier.cn
 * @LastEditTime: 2024-12-14 21:50:41
 * @FilePath: /electron-hiprint/assets/set.html
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./element-ui/index.css" />
    <script src="./js/vue.min.js"></script>
    <script src="./element-ui/index.js"></script>
    <script src="./js/dayjs.min.js"></script>
    <script src="./js/lodash.min.js"></script>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        user-select: none;
      }

      #app {
        padding: 12px 22px;
      }

      .el-form-item {
        width: 100%;
        margin-bottom: 8px;
      }

      .el-form--label-top .el-form-item__label {
        padding: 0;
      }

      .el-input-number,
      .el-select,
      .el-button {
        width: 100%;
      }

      /* 隐藏滚动条，但仍然可以滚动 */
      .hide-scrollbar {
        -ms-overflow-style: none; /* IE 和 Edge */
        scrollbar-width: none; /* Firefox */
      }

      /* 在内容高度足够时显示滚动条，否则隐藏 */
      .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari 和 Opera */
      }
    </style>
  </head>

  <body class="hide-scrollbar">
    <div id="app">
      <el-tabs v-model="setTab" @tab-click="handleTabChange">
        <template v-for="tab in tabs">
          <el-tab-pane :key="tab.name" :label="tab.label" :name="tab.name" />
        </template>
      </el-tabs>
      <el-form
        ref="formRef"
        :model="formData"
        :rules="rules"
        v-bind="formOptions"
        items=""
      >
        <el-row :gutter="12">
          <template v-for="item in formOptions.items">
            <el-col v-if="item.prop !== 'autoOpenUrl'" :span="item.span || formOptions.span">
              <el-form-item
                v-if="item.display !== false"
                :key="item.prop"
                :label="item.label"
                :prop="item.prop"
                :style="item.style"
              >
                <template #label>
                  <el-tooltip v-if="item.tips" :content="item.tips" placement="top-start">
                    <span>{{item.label}} <i class="el-icon-question"></i></span>
                  </el-tooltip>
                  <span v-else>{{item.label}}</span>
                </template>
                <component
                  v-if="item.optionIs"
                  :is="item.is"
                  v-model="formData[item.prop]"
                  v-bind="item.attrs"
                  v-on="item.event"
                >
                  <template v-for="option in item.options">
                    <template v-if="item.optionRender">
                      <component
                        :is="item.optionIs"
                        v-bind="option"
                        :key="option.value"
                      >
                        <render-component
                          :render="item.optionRender"
                          :data="option"
                        />
                      </component>
                    </template>
                    <component v-else :is="item.optionIs" v-bind="option">
                      {{ option.content || option.value }}
                    </component>
                  </template>
                </component>
                <component
                  v-else
                  :is="item.is"
                  v-model="formData[item.prop]"
                  v-bind="item.attrs"
                  v-on="item.event"
                >
                  {{ item.content }}
                </component>
              </el-form-item>
            </el-col>
          </template>
          <el-col v-if="setTab === 'advancedSet'" :span="24">
            <el-form-item>
              <div>
                <span>自助报告打印</span>
              </div>
              <el-row :gutter="12">
                <el-col :span="4">
                  <el-switch
                    v-model="formData.autoOpenUrl"
                    @change="(val) => {
                      if (val && !formData.autoOpenUrlValue) {
                        formData.autoOpenUrlValue = DEFAULT_SELF_SERVICE_PRINT_URL;
                      }
                    }"
                  ></el-switch>
                </el-col>
                <el-col :span="20" v-if="formData.autoOpenUrl">
                  <el-input
                    v-model="formData.autoOpenUrlValue"
                    placeholder="请输入完整的地址"
                  ></el-input>
                </el-col>
              </el-row>
              <!-- 延迟时间配置 -->
              <div v-if="formData.autoOpenUrl" style="margin-top: 10px;">
                <el-row :gutter="12">
                  <el-col :span="4">
                    <div>
                      <span>延迟(秒)</span>
                    </div>
                  </el-col>
                  <el-col :span="8">
                    <el-input-number
                      v-model="formData.autoOpenUrlDelay"
                      :min="0"
                      :max="300"
                      :step="5"
                      placeholder="延迟秒数"
                      style="width: 100%;"
                    />
                    <div>延迟秒数 (0-300)</div>
                  </el-col>
                </el-row>
                <el-row :gutter="12" style="display: none;">
                  <el-col :span="6">
                    <div>
                      <span>重试间隔秒</span>
                    </div>
                  </el-col>
                  <el-col :span="8">
                    <el-input-number
                      v-model="formData.autoOpenUrlRetryInterval"
                      :min="5"
                      :max="60"
                      :step="5"
                      placeholder="重试间隔"
                      style="width: 100%;"
                    />
                    <div>重试间隔秒 (5-60)</div>
                  </el-col>
                </el-row>
                <el-row :gutter="12" style="display: none;">
                  <el-col :span="6">
                    <div>
                      <span>重试次数</span>
                    </div>
                  </el-col>
                  <el-col :span="8">
                    <el-input-number
                      v-model="formData.autoOpenUrlMaxRetries"
                      :min="1"
                      :max="20"
                      :step="1"
                      placeholder="最大重试次数"
                      style="width: 100%;"
                    />
                    <div>最大重试次数 (1-20)</div>
                  </el-col>
                </el-row>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item>
              <el-row :gutter="12">
                <el-col span="8">
                  <el-button size="small" @click="testPrint">
                    测试打印
                  </el-button>
                </el-col>
                <el-col span="8">
                  <el-button type="primary" size="small" @click="submit">
                    应用
                  </el-button>
                </el-col>
                <el-col span="8">
                  <el-button size="small" @click="close">
                    关闭
                  </el-button>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <script type="text/javascript">
      const { ipcRenderer } = require("electron");
      const Store = require("electron-store");
      const store = new Store();

      const DEFAULT_SELF_SERVICE_PRINT_URL = "http://192.168.1.160/selfServicePrint?hospCode=H01";

      let ipc = ipcRenderer;

      new Vue({
        el: "#app",
        data: () => {
          return {
            setTab: "basicSet",
            tabs: [
              {
                label: "基础设置",
                name: "basicSet",
                height: 600,
              },
              {
                label: "中转设置",
                name: "transitSet",
              },
              {
                label: "高级设置",
                name: "advancedSet",
              },
            ],
            // 设置值
            formData: {
              port: 17521,
              token: "",
              printer: "",
              pluginVersion: "0.0.60",
              openAtLogin: false,
              openAsHidden: false,
              connectTransit: false,
              nickName: "",
              transitUrl: "",
              transitToken: "",
              allowNotify: false,
              closeType: "tray",
              logPath: "",
              pdfPath: "",
              defaultPrinter: "",
              autoOpenUrl: false,
              autoOpenUrlValue: DEFAULT_SELF_SERVICE_PRINT_URL,
              autoOpenUrlDelay: 0,
              autoOpenUrlRetryInterval: 10,
              autoOpenUrlMaxRetries: 6,
            },
            // 预制的版本，解决部分内网无法获取新版本的问题
            versions: [
              {
                value: "0.0.60",
                updateTime: "2025/03/24 17:25:24",
              },
              {
                value: "0.0.58-fix",
                updateTime: "2024/11/03 21:23:54",
              },
              {
                value: "0.0.56",
                updateTime: "2023/11/19 22:43:45",
              },
              {
                value: "0.0.54-fix",
                updateTime: "2023/07/10 10:34:19",
              },
              {
                value: "0.0.52",
                updateTime: "2023/05/08 17:57:53",
              },
            ],
            downloadedVersions: [], // 存储已下载版本
            printerList: [], // 打印机列表
          };
        },
        computed: {
          formOptions() {
            return {
              size: "small",
              labelPosition: "top",
              inline: true,
              span: 24,
              spellcheck: false,
              items: [
                {
                  label: "端口设置",
                  prop: "port",
                  is: "el-input-number",
                  attrs: {
                    min: 10000,
                    max: 65535,
                    controls: false,
                    placeholder: "请输入10000-65535之间的端口号(17521)",
                  },
                  display: this.setTab === "basicSet",
                  rules: [
                    {
                      required: true,
                      message: "端口号不能为空",
                      trigger: "blur",
                    },
                  ],
                },
                {
                  label: "TOKEN 设置",
                  prop: "token",
                  is: "el-input",
                  attrs: {
                    minlength: 5,
                    maxlength: 32,
                    placeholder: "请输入5-32个字符作为TOKEN",
                  },
                  display: this.setTab === "basicSet",
                  rules: [
                    {
                      min: 5,
                      max: 32,
                      message: "只能输入5-32个字符作为TOKEN",
                      trigger: "blur",
                    },
                  ],
                },
                {
                  label: "别名",
                  prop: "nickName",
                  is: "el-input",
                  attrs: {
                    placeholder: "请输入便于识别的别名",
                  },
                  tips: "方便识别的友好名称",
                  display: this.setTab === "basicSet",
                },
                {
                  label: "插件版本设置",
                  prop: "pluginVersion",
                  is: "el-select",
                  optionIs: "el-option",
                  tips: "Render api 使用的渲染版本",
                  attrs: {
                    clearable: true,
                    filterable: true,
                    defaultFirstOption: true,
                  },
                  options: this.versions,
                  optionRender: (h, option) => {
                    const isDownloaded = this.downloadedVersions.includes(
                      option.value,
                    );
                    return h(
                      "div",
                      {
                        style: {
                          display: "flex",
                          justifyContent: "space-between",
                        },
                      },
                      [
                        h(
                          "span",
                          {
                            style: {
                              fontFamily: "monospace",
                            },
                          },
                          option.value,
                        ),
                        h(
                          "span",
                          {
                            style: {
                              fontFamily: "monospace",
                            },
                          },
                          [
                            option.info,
                            h("i", {
                              class: "el-icon-success",
                              style: {
                                color: isDownloaded ? "#67C23A" : "transparent",
                                marginLeft: "4px",
                              },
                            }),
                          ],
                        ),
                      ],
                    );
                  },
                  event: {
                    change: (val) => {
                      const isDownloaded = this.downloadedVersions.includes(
                        val,
                      );
                      // if (!isDownloaded) {
                      //   ipc.send("downloadPlugin", val);
                      // }
                    },
                  },
                  display: this.setTab === "basicSet",
                },
                {
                  label: "日志路径",
                  prop: "logPath",
                  is: "el-input",
                  tips: "程序运行时产生的日志路径",
                  attrs: {
                    readonly: true,
                  },
                  event: {
                    click: () => {
                      this.openDirectory("logPath");
                    },
                  },
                  span: 18,
                  display: this.setTab === "basicSet",
                },
                {
                  label: "　",　// 全角空格占位，防止样式坍塌　
                  is: "el-button",
                  event: {
                    click: () => {
                      this.chooseDirectory("logPath");
                    },
                  },
                  content: "选择",
                  span: 6,
                  display: this.setTab === "basicSet",
                },
                {
                  label: "PDF 缓存路径",
                  prop: "pdfPath",
                  is: "el-input",
                  tips: "系统运行过程中的临时 PDF 存储路径",
                  attrs: {
                    readonly: true,
                  },
                  event: {
                    click: () => {
                      this.openDirectory("pdfPath");
                    },
                  },
                  style: {
                    marginBottom: "60px",
                  },
                  span: 18,
                  display: this.setTab === "basicSet",
                },
                {
                  label: "　",　// 全角空格占位，防止样式坍塌
                  is: "el-button",
                  event: {
                    click: () => {
                      this.chooseDirectory("pdfPath");
                    },
                  },
                  content: "选择",
                  span: 6,
                  style: {
                    marginBottom: "60px",
                  },
                  display: this.setTab === "basicSet",
                },
                {
                  label: "连接中转代理服务(node-hiprint-transit)",
                  prop: "connectTransit",
                  is: "el-switch",
                  tips: "通过中转代理可以实现云打印，摆脱局域网限制",
                  event: {
                    change: () => this.handleTabChange(),
                  },
                  display: this.setTab === "transitSet",
                },
                {
                  label: "服务器地址",
                  prop: "transitUrl",
                  is: "el-input",
                  attrs: {
                    placeholder: "请输入中转服务地址",
                  },
                  display:
                    this.setTab === "transitSet" &&
                    this.formData.connectTransit,
                  rules: [
                    {
                      required: true,
                      message: "中转服务器地址不能为空",
                      trigger: "blur",
                    },
                  ],
                },
                {
                  label: "服务器 TOKEN",
                  prop: "transitToken",
                  is: "el-input",
                  attrs: {
                    minlength: 5,
                    maxlength: 32,
                    placeholder: "请输入中转服务 TOKEN",
                  },
                  span: 18,
                  display:
                    this.setTab === "transitSet" &&
                    this.formData.connectTransit,
                  rules: [
                    {
                      required: true,
                      message: "中转服务 Token 不能为空",
                      trigger: "blur",
                    },
                  ],
                },
                {
                  label: "　",　// 全角空格占位，防止样式坍塌
                  prop: "connectTest",
                  is: "el-button",
                  event: {
                    click: this.handleTest,
                  },
                  content: "测试连接",
                  span: 6,
                  display:
                    this.setTab === "transitSet" &&
                    this.formData.connectTransit,
                },
                {
                  label: "开机启动",
                  prop: "openAtLogin",
                  is: "el-switch",
                  tips: "请注意杀毒软件拦截",
                  span: 12,
                  display: this.setTab === "advancedSet",
                },
                {
                  label: "静默启动",
                  prop: "openAsHidden",
                  is: "el-switch",
                  tips: "启动后不显示主窗口，收起到托盘",
                  span: 12,
                  display: this.setTab === "advancedSet",
                },
                {
                  label: "默认打印机",
                  prop: "defaultPrinter",
                  is: "el-select",
                  tips: "打印任务未指定打印机时将优先使用该打印机",
                  optionIs: "el-option",
                  attrs: {
                    clearable: true,
                  },
                  options: this.printerList,
                  // 明确指定label和value字段，确保选择的是显示名称
                  optionProps: {
                    label: 'value',
                    value: 'value'
                  },
                  display: this.setTab === "advancedSet",
                },
                {
                  label: "禁用GPU",
                  prop: "disabledGpu",
                  is: "el-switch",
                  tips: "可能优化字体模糊问题",
                  span: 12,
                  display: this.setTab === "advancedSet",
                },
                {
                  label: "允许通知",
                  prop: "allowNotify",
                  is: "el-switch",
                  span: 12,
                  display: this.setTab === "advancedSet",
                },
                {
                  label: "关闭主窗口动作",
                  prop: "closeType",
                  is: "el-radio-group",
                  optionIs: "el-radio",
                  options: [
                    {
                      label: "tray",
                      border: true,
                      content: "最小化到托盘",
                      style: {
                        marginRight: "6px",
                      },
                    },
                    {
                      label: "quit",
                      border: true,
                      content: "退出程序",
                      style: {
                        marginLeft: "6px",
                      },
                    },
                  ],
                  display: this.setTab === "advancedSet",
                },
              ],
            };
          },
          rules() {
            const obj = {};
            this.formOptions.items.forEach(({ prop, rules }) => {
              if (Array.isArray(rules)) {
                obj[prop] = rules;
              }
            });
            return obj;
          },
        },
        created() {
          this.onEvents();
          // 获取配置
          this.formData = store.store;
          // 如果开启了自动打开URL但没有设置URL值，则设置默认值
          if (this.formData.autoOpenUrl && !this.formData.autoOpenUrlValue) {
            this.formData.autoOpenUrlValue = DEFAULT_SELF_SERVICE_PRINT_URL;
          }
          // 确保隐藏的配置项有正确的默认值（修复旧版本配置）
          if (typeof this.formData.autoOpenUrlDelay !== 'number' || this.formData.autoOpenUrlDelay < 0 || this.formData.autoOpenUrlDelay > 300) {
            this.formData.autoOpenUrlDelay = 0;
          }
          if (typeof this.formData.autoOpenUrlRetryInterval !== 'number' || this.formData.autoOpenUrlRetryInterval < 10 || this.formData.autoOpenUrlRetryInterval > 60) {
            this.formData.autoOpenUrlRetryInterval = 10;
          }
          if (typeof this.formData.autoOpenUrlMaxRetries !== 'number' || this.formData.autoOpenUrlMaxRetries < 6 || this.formData.autoOpenUrlMaxRetries > 20) {
            this.formData.autoOpenUrlMaxRetries = 6;
          }
          // this.getVersions();
          this.getPrintersList();
        },
        mounted() {
          this.handleTabChange();
        },
        beforeDestroy() {
          ipc.removeAllListeners("openDialog");
        },
        methods: {
          onEvents() {
            //   ipcRenderer.on("downloadedVersions", (event, versions) => {
            //   this.downloadedVersions = versions;
            // })
              ipcRenderer.on("getPrintersList", (event, data) => {
                // 处理中转服务返回的打印机列表
                if (data && data.printers) {
                  // 中转服务返回的格式：{ printers: [...], cache: {...} }
                  this.printerList = data.printers;
                  // 将缓存信息存储到全局变量（使用显示名称作为key）
                  window.globalTransitPrinterCache = data.cache || {};
                  
                  // 保存本机 clientId
                  if (data.clientId) {
                    window.localClientId = data.clientId;
                    // 通知主进程更新 LOCAL_CLIENT_ID
                    ipc.send('setLocalClientId', { clientId: data.clientId });
                  } else {
                    window.localClientId = null;
                  }

                  // 检查并修复默认打印机的显示名称
                  this.fixDefaultPrinter();
                } else {
                  // 本地打印机列表格式：[...]
                  this.printerList = data || [];
                  window.globalTransitPrinterCache = {};
                  window.localClientId = null;
                }
              });

              // 监听测试打印错误事件
              ipcRenderer.on("printTestError", (event, data) => {
                if (data && data.message) {
                  this.$message.error(data.message);
                }
              });
          },
          handleTabChange() {
            this.$nextTick(() => {
              let { height, width } = document
                .querySelector("#app")
                .getBoundingClientRect();
              height = Math.ceil(height);
              width = Math.ceil(width);

              if (this.setTab === 'advancedSet') {
                height += 40;
              }

              ipc.send("setContentSize", {
                width,
                height,
              });
            });
            // 当切换到高级设置标签页时，重新获取打印机列表
            if (this.setTab === 'advancedSet') {
              this.getPrintersList();
            }
          },
          async testPrint() {
            const tempalteHtml = '<div style="height: 20px; width: 100%;">测试打印</div>';
            data = {
              printBackground: false,
              color: false,
              templateId: 'tmpid-' + new Date().getTime(),
              socketId: 'sid-' + new Date().getTime(),
              clientType: 'local',
              html: tempalteHtml,
              pageNum: 1,
            };

            if(this.formData.connectTransit) {
              data.clientType = "transit";
              data.replyId = 'rid-' + new Date().getTime();

              // 如果没有本机 clientId，尝试从主进程获取
              if (!window.localClientId) {
                window.localClientId = await new Promise((resolve) => {
                  ipc.send('getLocalClientId');
                  const handler = (event, clientId) => {
                    ipc.removeListener('localClientId', handler);
                    resolve(clientId);
                  };
                  ipc.on('localClientId', handler);
                  // 5秒超时
                  setTimeout(() => {
                    ipc.removeListener('localClientId', handler);
                    resolve(null);
                  }, 5000);
                });
              }

              // 确保缓存已同步（等待打印机列表返回）
              if (!window.globalTransitPrinterCache) {
                await new Promise((resolve) => {
                  const checkCache = () => {
                    if (window.globalTransitPrinterCache) {
                      resolve();
                    } else {
                      setTimeout(checkCache, 100);
                    }
                  };
                  checkCache();
                  // 5秒超时
                  setTimeout(resolve, 5000);
                });
              }

              // 如果选择了默认打印机，则设置 printer 参数
              if(this.formData.defaultPrinter) {
                // 从缓存中查找对应的 clientId
                let cacheLookupResult = null;
                if (window.globalTransitPrinterCache) {
                  cacheLookupResult = window.globalTransitPrinterCache[this.formData.defaultPrinter];

                  // 尝试模糊匹配（去掉末尾空格等）
                  if (!cacheLookupResult) {
                    for (const [key, value] of Object.entries(window.globalTransitPrinterCache)) {
                      if (key.trim() === this.formData.defaultPrinter.trim()) {
                        cacheLookupResult = value;
                        break;
                      }
                    }
                  }

                  // 尝试部分匹配
                  if (!cacheLookupResult) {
                    for (const [key, value] of Object.entries(window.globalTransitPrinterCache)) {
                      if (key.includes(this.formData.defaultPrinter) || this.formData.defaultPrinter.includes(key)) {
                        cacheLookupResult = value;
                        break;
                      }
                    }
                  }
                }

                if (cacheLookupResult) {
                  // 使用 displayName 作为 printer 参数，而不是 clientId
                  // 因为同一客户端的多个打印机共享同一个 clientId，无法区分具体打印机
                  data.printer = this.formData.defaultPrinter;
                } else {
                  // 缓存中没有，说明这是一个本地打印机，使用本机的 clientId
                  data.printer = window.localClientId || '';

                  // 添加错误提示，提醒用户重新选择默认打印机
                  this.$message.error(`未找到匹配的打印机，请重新选择默认打印机`);
                }
              } else {
                this.$message.error('请在 高级设置 中选择默认打印机进行打印测试');
                return;
              }

              ipc.send('print-new-test', data);
            } else {
              if(this.formData.defaultPrinter) {
                data.printer = this.formData.defaultPrinter;
                ipc.send('print-new-test', data);
              } else {
                this.$message.error('请在 高级设置 中选择默认打印机进行打印测试');
              }
            }
          },
          /**
           * @description: 测试连接
           * @return {void}
           */
          handleTest() {
            this.$refs.formRef.validate((valid) => {
              if (valid) {
                ipc.send("testTransit", {
                  url: this.formData.transitUrl,
                  token: this.formData.transitToken,
                });
              } else {
                return false;
              }
            });
          },
          /**
           * @description: 选择目录
           * @param {string} type - 目录类型
           * @return {void}
           */
          chooseDirectory(type) {
            const title = {
              logPath: "选择日志存储路径",
              pdfPath: "选择 PDF 缓存路径",
            }[type];
            ipc.send("showOpenDialog", {
              title,
              defaultPath: this.formData[type],
              properties: ["openDirectory"],
            });
            ipc.once("openDialog", (event, result) => {
              if (!result.canceled) {
                this.$set(this.formData, type, result.filePaths[0]);
              }
            });
          },
          /**
           * @description: 打开目录
           * @param {string} type - 目录类型
           * @return {void}
           */
          openDirectory(type) {
            if (this.formData[type]) {
              ipc.send("openDirectory", this.formData[type]);
            }
          },
          /**
           * @description: 提交设置
           * @return {void}
           */
          submit() {
            this.$refs.formRef.validate((valid) => {
              if (valid) {
                ipc.send("setConfig", this.formData);
              } else {
                return false;
              }
            });
          },
          /**
           * @description: 关闭窗口
           * @return {void}
           */
          close() {
            ipc.send("closeSetWindow");
          },
          /**
           * @description: 获取在线版本信息
           * @return {void}
           */
          getVersions() {
            const xhr = new XMLHttpRequest();
            // cnpm 源
            xhr.open(
              "GET",
              "https://registry.npmmirror.com/vue-plugin-hiprint",
            );
            xhr.onload = () => {
              if (xhr.status === 200) {
                this.npmInfo = JSON.parse(xhr.responseText);
                this.versions = _.orderBy(
                  _.map(this.npmInfo.versions, ({ version }) => ({
                    value: version,
                    time: dayjs(this.npmInfo.time[version]).valueOf(),
                    info: dayjs(this.npmInfo.time[version]).format(
                      "YYYY/MM/DD HH:mm:ss",
                    ),
                  })),
                  "time",
                  "desc",
                );
              }
            };
            xhr.onerror = () => {
              console.log("获取版本信息失败");
            };
            xhr.send();
          },
          /**
           * @description: 获取打印机列表
           * @return {void}
           */
          getPrintersList() {
            ipcRenderer.send("getPrintersList"); // 请求打印机列表
          },
          /**
           * @description: 修复默认打印机的显示名称
           * @return {void}
           */
          fixDefaultPrinter() {
            if (!this.formData.defaultPrinter) {
              return;
            }

            // 如果默认打印机不包含IP前缀，说明它是原始名称，需要修复
            if (!this.formData.defaultPrinter.includes("[") && !this.formData.defaultPrinter.includes("]")) {
              // 检查缓存是否存在
              if (window.globalTransitPrinterCache) {
                // 遍历缓存，找到匹配的原始打印机名称
                let foundDisplayName = null;
                for (const [displayName, info] of Object.entries(window.globalTransitPrinterCache)) {
                  // 如果缓存中的原始名称匹配当前默认打印机
                  if (info.originalName === this.formData.defaultPrinter) {
                    foundDisplayName = displayName;
                    break;
                  }
                }

                if (foundDisplayName) {
                  this.formData.defaultPrinter = foundDisplayName;

                  // 保存修复后的值到 store
                  ipc.send('updateDefaultPrinter', { defaultPrinter: foundDisplayName });
                }
              }
            }
          },
        },
      });

      Vue.component("render-component", {
        props: {
          render: Function,
          data: Object,
        },
        render(h) {
          return this.render(h, this.data);
        },
      });
    </script>
  </body>
</html>
